@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  padding: 0;
  margin: 0 auto;
  min-width: $minwidth;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.container-gallery {
  padding: 0 20px;
  @media screen and (min-width: $tablet) {
    padding: 0 32px;
  }
}
