.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: $tablet) {
    gap: 32px;
  }
  @media screen and (min-width: $desktop) {
    gap: 32px 16px;
  }
}

.gallery-item {
  flex: 1 80%;
  @media screen and (min-width: $tablet) {
    max-width: 45%;
    flex: 1 40%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 32%;
    flex: 1 30%;
  }
}

.item-img {
  border-radius: 5px;
}

.item-data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: $active-color;
}
