// .pagination {
//   display: flex;
//   gap: 20px;
// }

.pagination-list {
  display: flex;
  gap: 20px;
}

.pagination-page:nth-child(2)::after {
  content: '...';
  margin-left: 20px;
}
.pagination-page:nth-last-child(2)::before {
  content: '...';
  margin-right: 20px;
}

.current-page {
  background-color: $active-color;
}

.hide-pseudo:before,
.hide-pseudo:after {
  display: none;
}
