// :root {
//   --min-width: 320px;
//   --bkg-color: #e5e5e5;
// }

$bkg-color: #e5e5e5;
$active-bkg-color: #f7f7f7;
$text-color: #000000;
$active-color: #ff6b08;

$minwidth: 250px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// $margin: 30px;
// $scrollbar: 15px;

// $tm: 250ms;
// $cubic: cubic-bezier(0.4, 0, 0.2, 1);
