<header class="header">
  <div class="container">
    <div class="header-content">
      <nav class="nav-menu">
        <a href="./index.html" class="logo">
          <img src="./images/film.svg" />
          <span class="filmoteka">Filmoteka</span>
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-link is-current">Home</a>
          </li>
          <li class="nav-item">
            <a href="./library.html" class="nav-link">My library</a>
          </li>
        </ul>
      </nav>
      <input class="search-input" placeholder="Movie search" />
      <p class="search-info">Info</p>
    </div>
  </div>
</header>
